$black: #070707;
$black-500: #2c1906;
$primary: #f3e3d2;
$transparent: rgba(0, 0, 0, 0);

$main-text-color: $black;
$primary-text-color: $primary;
$light-text-color: #fff;
$hover-text-color: $black;

$primary-bg-color: $primary;
$dark-bg-color: $black-500;
$light-bg-color: #fff;
