.banner-slider {
  &-item {
    padding-top: rem(88);
    height: 100vh;
    max-height: rem(900);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @include sm-block {
      padding-top: rem(60);
    }
  }

  @import "./slide-1";
  @import "./slide-2";
  @import "./slide-3";

  &-price {
    text-align: center;
    display: flex;
    flex-wrap: wrap;

    &__heading {
      margin-bottom: 16px;
    }
    @include md-block {
      flex-direction: column;
      justify-content: center;
    }

    // .banner-slider-price__heading
    &__item {
      @include md-block {
        margin-bottom: rem(30);
      }
      &:not(:last-child) {
        margin-right: rem(90);

        @include md-block {
          margin-right: 0;
        }
      }
    }
  }
  //.banner-slider-price

  &-heading {
    font-size: rem(24);
    font-family: "Roboto";
    line-height: rem(28);
    color: $light-text-color;

    @include to(1200px) {
      font-size: rem(18);
      line-height: rem(22);
    }

    &--dark {
      color: $main-text-color;
    }
  }
  // .banner-slider-heading
}

.banner-price {
  font: 600 rem(36) "El messiri";
  line-height: 1;
  word-wrap: break-word;

  &--light {
    color: $light-text-color;
  }

  &--old {
    text-decoration: line-through;
  }
}

.banner-slider-subtitle {
  font: 600 rem(36) / 1.1 "El messiri";
  word-wrap: break-word;

  @include sm-block {
    font-size: rem(24);
  }

  &--light {
    color: $light-text-color;
  }
}
