.features {
  @include row-flex();
  justify-content: center;
  padding: rem(15) 0;

  @include lg-block {
    flex-direction: column;
    align-items: center;
  }
}

.features-card {
  @include col();
  @include size(4);
  @include to(1080px) {
    @include size(5);
  }
  @include size-md(6);
  @include size-sm(12);
  @include flex-center();
  flex-wrap: wrap;
  position: relative;
  border-radius: $border-radius;
  min-height: rem(270);
  padding: rem(20);
  overflow: hidden;

  @include hover() {
    .features-card__hovered {
      opacity: 1;
    }
  }

  @include lg-block {
    min-height: auto;
  }

  &__heading {
    max-width: rem(320);
    text-align: center;
    font: 600 rem(36) / 1.2 "El Messiri";

    @include lg-block {
      opacity: 1;
      font-size: rem(24);
      margin-bottom: rem(24);
    }
  }
  // .features-card__heading

  &__hovered {
    text-align: center;
    transition: opacity $transition;

    @include flex-center();

    @include from(1024px) {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: 1;
      opacity: 0;
      background-color: $light-bg-color;
      border-radius: $border-radius;
      padding: rem(40);
    }

    @include lg-block {
      opacity: 1;
      background-color: $transparent;
      padding: rem(0);
    }
  }
  // .features-card__hovered

  &__link {
    display: block;
    color: $main-text-color;
    font-style: italic;
    text-decoration: underline;

    &:hover,
    &:active {
      color: $primary;
      text-decoration: none;
    }
  }
  // .features-card__link
}
