.feedback-slider {
  // display: flex;
  // overflow-x: auto;
  // margin: 0 -15px;
  &__item {
    overflow: hidden;
    border-radius: $border-radius;
    background-color: $light-bg-color;
    min-width: calc(50% - 30px);
    max-height: 80vh;
    position: relative;
    // margin-right: 15px;
    // margin-left: 15px;

    @include sm-block {
      min-width: calc(100% - 30px);
      margin-right: 0px;
      &:first-child {
        margin-left: 7px;
      }
    }

    &:before {
      content: "";
      display: block;
      padding-bottom: 100%;
    }
  }
  // .feedback-slider__item
  &__inner {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
  }

  .slick-slide {
    margin-right: 15px;
  }
}

.feedback {
  padding-top: rem(64);
  &__title {
    margin-bottom: rem(50);
    @include md-block {
      margin-bottom: rem(24);
    }
  }
}
