.about {
  padding: rem(90) 0;

  @include sm-block {
    padding: rem(40) 0;
  }

  &__title {
    margin-bottom: rem(75);

    @include sm-block {
      margin-bottom: rem(24);
    }
  }
  // .about__title
}

.about-content {
  @include row-flex();
  justify-content: space-between;
  align-items: center;

  &__left {
    @include col();
    @include size(3.3);
    @include size-sm(12);

    @include sm-block {
      order: 1;
    }
  }
  // .about-content__left

  &__center {
    @include col();
    @include size(4);
    @include size-sm(12);
    text-align: center;
  }
  // .about-content__center

  &__right {
    @include col();
    @include size(3.3);
    @include size-sm(12);
    @include sm-block {
      order: -1;
      margin-bottom: rem(22);
    }
  }
  // .about-content__right

  &__img {
    border-radius: 12px;
  }
  // .about-content__img
}
