.stock-slider {
  padding-top: rem(64);
  margin-bottom: 0 !important;
  @include sm-block {
    padding-top: 12px;
  }
  &-item {
    height: 600px;
    padding: rem(40) 0;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @include md-block {
      height: 568px;
    }

    &__inner-rigth {
      margin-left: auto;
    }
    &__inner-left {
      margin-right: auto;
    }
  }

  @import "./slide-1";
  @import "./slide-2";
  @import "./slide-3";
  @import "./slide-4";
  @import "./slide-5";
  @import "./slide-6";
}
