.stock-slider {
  padding-top: rem(64);
  &-item {
    height: 600px;
    padding: rem(40) 0;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @include md-block {
      height: 568px;
    }

    &__inner {
      margin-left: auto;
    }
  }

  @import "./slide-1";
}
