.contacts {
  &__container {
    padding-bottom: rem(80);
    padding-top: rem(80);

    @include md-block {
      padding-bottom: rem(64);
      padding-top: rem(64);
    }
  }
  // .__container

  &__title {
    margin-bottom: rem(50);

    @include md-block {
      margin-bottom: rem(24);
    }
  }
  // .contacts__title

  &__row {
    @include row-flex();
    justify-content: space-around;

    @include md-block {
      flex-direction: column;
      align-items: center;
    }
  }
  // .contacts__row

  // .contacts__col

  &__col {
    @include col();
    @include size(3);
    @include size-lg(5);
    @include size-md(6);
    @include size-sm(10);
    @include size-xs(12);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  // .contacts__item

  &__item {
    text-align: center;
  }

  // .contacts__link

  &__link {
    display: inline-block;
  }
  // .contacts__btn
}

.contacts-map {
  min-height: 550px;
  position: relative;
  background: #e8e7e7;

  .ymaps-2-1-78-map {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100% !important;
  }
}
