.bfr-aft {
  padding: rem(90) 0;

  @include md-block {
    padding: rem(64) 0;
  }

  &__title {
    margin-bottom: rem(16);
  }
  // .bfr-aft__title

  &__subtitle {
    margin-bottom: rem(36);
  }
  // .bfr-aft__subtitle
}

.bfr-aft-gallery {
  @include u-row-flex(4px);
  @include md-block {
    justify-content: center;
  }

  &__item {
    @include u-col(4px);
    @include u-size(3, 12, 4px);

    @include md-block {
      @include u-size(4, 12, 4px);
      justify-content: space-between;
      opacity: 1;
    }
    @include sm-block {
      @include u-size(6, 12, 4px);
    }

    position: relative;
    overflow: hidden;
    opacity: 0.5;
    transition: opacity $transition;

    @include hover {
      opacity: 1;
    }
    &:before {
      content: "";
      display: block;
      padding-bottom: 100%;
    }
  }
  // .bfr-aft-gallery__item

  &__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  // .bfr-aft-gallery__img

  &.slick-slider {
    margin-bottom: 0 !important;
  }

  .slick-slide {
    padding: 0 4px;

    @include sm-block {
      padding: 0;
    }
  }
}
