.btn {
  @include button-reset();
  @include transition-colors();
  font-family: Roboto;
  border-radius: rem(30);
  text-transform: uppercase;
  font-size: rem(14);
  min-width: rem(137);
  border: 1px solid $transparent;
  padding: rem(14) rem(45);

  &:focus {
    outline: $primary;
    box-shadow: 2px 2px 2px 2px $primary;
  }

  @include sm-block {
    font-size: rem(10);
    padding: rem(14) rem(20);
  }
}

.btn-light {
  background-color: $light-bg-color;
  color: $main-text-color;

  &:hover {
    background-color: $dark-bg-color;
    color: $light-text-color;
    border-color: $dark-bg-color;
  }
}

.btn-dark {
  background-color: $dark-bg-color;
  color: $light-text-color;
  &:hover {
    background-color: $light-bg-color;
    color: $main-text-color;
    border-color: $light-bg-color;
  }
}

.btn-primary {
  background-color: $primary;
  color: $main-text-color;
  &:hover {
    background-color: $dark-bg-color;
    color: $light-text-color;
    border-color: $dark-bg-color;
  }
}
