.footer {
  padding: rem(80) 0 rem(90);
  background-color: $dark-bg-color;

  @include sm-block {
    padding: rem(54) 0 rem(64);
  }
  &__header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: rem(40);
  }
  // .footer__header

  &__nav {
    @include to(900px) {
      display: none;
    }
  }
  // .footer__nav

  &__body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: rem(50);
  }
  // .footer__body

  &__btn {
    margin-bottom: rem(18);
  }

  // .footer__btn

  &__link {
    @extend .link;
    font-family: "Roboto";
    color: $light-text-color;
    font-size: rem(18);

    @include hover {
      text-decoration: none;
    }
  }

  // .footer__actions

  &__actions {
    max-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;

    @include to(674px) {
      padding-top: 40px;
      align-items: flex-start;
      text-align: left;
    }
  }

  // .footer__footer

  &__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: $light-text-color;
    font-size: rem(18);

    @include sm-block {
      p {
        width: 100%;

        &:first-child {
          margin-bottom: 40px;
        }
      }
    }
  }
}

.footer-list {
  padding: 0;
  margin: 0;
  list-style: none;

  &__item {
    &:not(:last-child) {
      margin-bottom: rem(18);
    }
  }
  // .footer-list__item
}
