h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
}

.helper {
  outline: 1px dotted deeppink;
  & > * {
    outline: 1px dotted blue;
    & > * {
      outline: 1px dotted green;
      & > * {
        outline: 1px dotted red;
        & > * {
          outline: 1px dotted red;
        }
      }
    }
  }
}
html {
  font-size: ($root-font-size / 16px) * 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  color: $main-text-color;
  font: 400 1rem "RobotoCondensed", serif;
  background: $primary-bg-color;

  header {
    flex: 0 0 auto;
  }
  main {
    flex: 1 0 auto;
  }

  footer {
    flex: 0 0 auto;
  }
}

.scrolled {
  overflow: hidden;
}
.container {
  @include container();
  // @include sm(max-width, rem(510));
  // @include md(max-width, rem(690));
  // @include lg(max-width, rem(930));
  // @include xl(max-width, rem(1110));
}

.link {
  font-size: inherit;
  color: inherit;
  text-decoration: underline;

  &:hover {
    color: $hover-text-color;
  }
}

.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
}

.line-through {
  text-decoration: line-through;
}

.horizontal-scroll-wrapper {
  flex-direction: column;
  transform: rotate(-90deg) translateY(-100px);
  transform-origin: right top;

  & > div {
    transform: rotate(90deg);
    transform-origin: right top;
  }
}
