.banner-title {
  font: 400 rem(104) "El messiri";
  line-height: rem(90);
  word-wrap: break-word;

  @include to(1200px) {
    font-size: rem(90);
    line-height: rem(80);
  }

  @include to(768px) {
    font-size: rem(80);
    line-height: rem(80);
  }

  &--light {
    color: $light-text-color;
  }
}

.main-title {
  font: 600 rem(64) / 1.1 "El Messiri";
  text-align: center;

  @include sm-block {
    font-size: rem(24);
  }
}

.section-title {
  font: 400 rem(24) / rem(28) "Roboto";
  text-align: center;
  text-transform: uppercase;

  @include sm-block {
    font-size: rem(18);
  }
}

.section-subtitle {
  font: 400 rem(18) / rem(22) "Roboto";
  text-align: center;
}
